# Compiled binaries
*/[0-9]*
!*/[0-9]*.cpp
!*/[0-9]*.txt
!*/[0-9]*.c

# C++ compiled files
*.out
*.exe
*.o
*.obj

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Answer/output files (optional - uncomment if you don't want to track them)
# */answer.txt
